<!doctype html>
<html lang="en">
    {% include "layout-head" %}
    <body>
        {% include "template-navigation" %}
        <div class="wrapper">
	        {% include "layout-header" %}
            {% block content %}{% endblock %}
            {% include "layout-footer" %}
        </div>
        <script src="//code.jquery.com/jquery.min.js"></script>
        {{ "bootstrap.js" | asset_url | script_tag }}
        <script src="https://get.gridsetapp.com/31128/overlay/"></script>
    </body>
</html>