<footer class="page-footer">
	<section class="page-footer__mailing-list">
		<p>sign up to receive the latest news and offers from namaste organics</p>
		<form action="http://thinkdesignandprint.createsend.com/t/y/s/atter/" method="post" class="form">
			<fieldset class="controls">
				<input id="fieldEmail" name="cm-atter-atter" type="email" placeholder="enter your email address..." required class="controls__control">
				<input type="submit" class="btn btn--primary pull-right" id="" value="sign up!">
			</fieldset>
		</form>
	</section>
	<section class="page-footer__nav">
		<ul class="list-unstyled">
			<li><a href="#">about us</a></li>
			<li><a href="#">become a stockist</a></li>
			<li><a href="#">contact us</a></li>
			<li><a href="#">postage &amp; delivery</a></li>
			<li><a href="#">returns</a></li>
			<li><a href="#">links</a></li>
		</ul>
	</section>
	<section class="page-footer__socials">
		<h2>Follow Us</h2>
		<ul class="list-unstyled list-inline">
			<li class="brand-twitter" title="Twitter"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li class="brand-facebook" title="Facebook"><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
		</ul>
	</section>
	<section class="page-footer__small-nav">
		<ul class="list-inline">
			<li><a href="#">Privacy &amp; Cookies</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
			<li><a href="#">Legals</a></li>
			<li><a href="#">Copyright</a></li>
		</ul>
	</section>
</footer>
