<a href="{{ site_url('/cart') }}" class="cart">
	<span class="visible-md">My Shopping Cart </span><i class="fa fa-shopping-cart"></i>
	<span class="items visible-md">2 <span class="hideMeUnderX">items £32.99</span></span>
</a>
