<ul class="list-group list-unstyled">
	<li class="list-group__item"><span>Discount applied:</span> <span class="badge">£x.xx</span></li>
	<li class="list-group__item"><span>Subtotal:</span> <span class="badge">£x.xx</span></li>
	<li class="list-group__item"><span>Delivery:</span> <span class="badge">£x.xx</span></li>
	<li class="list-group__item order-total h2 clearfix"><span>Total:</span>  <span class="badge h2">£x.xx</span></li>
	<small>Total £x.xx includes VAT of £x.xx</small>
</ul>