<aside class="checkout__totals" data-spy="affix" data-offset-top="330" data-offset-bottom="400">
		<h1 class="cart-summary-title">Order Summary</h1>
		<ul class="price-list list-group">
	        <li class="list-group__item">Subtotal: <span class="badge">£x.xx</span></li>
	        <li class="list-group__item order-shipping">Delivery: <span class="badge">£x.xx</span></li>
	        <li class="list-group__item">VAT: <span class="badge">£x.xx</span></li>
	        <li class="list-group__item order-total h2 clearfix"><span>Total:</span> <span class="badge h2">£xx.xx</span></li>
	    </ul>

		<div class="alert alert--warning"><p>Your cart is empty!</p></div>
		<a class="btn btn--link" href="{{ site_url('shop') }}">Continue shopping <i class="fa fa-arrow-right"></i></a>
</aside>