<article class="product-grid__item product">
	<figure>
		<a href="#"><img src="http://placehold.it/400x200"></a>
	</figure>
	<div class="product__details">
		<p class="product__type">Carrier Oil (50ml)</p>
		<a href="#"><h2 class="product__title">Argan Oil</h2></a>
		<p class="product__price">£6.65</p>
	</div>
	<div class="product__actions">
		<a class="btn btn--primary btn--block btn--add-cart" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart, #navbar-totals=shop-minicart-totals, #product-page=shop-product">Add to Cart <i class="fa fa-shopping-cart pull-right"></i></a>
	</div>
</article>

