<table class="table table--responsive">
	<thead>
		<tr>
			<th class="item" data-label="Item">Item</th>
			<th class="quantity" data-label="Qty">Qty</th>
			<th class="discount" data-label="Discount">Discount</th>
			<th class="item-total" data-label="Item Total">Item Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="item" data-label="Item">
				<figure class="product-image">
					<img src="http://placehold.it/400x200">
				</figure>
				<div class="product-details">
					<a href="/product/{{ item.product.url_name }}" class="product-name">Product name here</a>
					<p class="product-price"><small>£6.96</small></p>
				</div>
			</td>
			<td class="quantity" data-label="Qty">
				1
			</td>
			<td class="discount" data-label="Discount">
				£0.00
			</td>
			<td class="item-total" data-label="Item Total">
				£6.65
			</td>
		</tr>
		<tr>
			<td class="item" data-label="Item">
				<figure class="product-image">
					<img src="http://placehold.it/400x200">
				</figure>
				<div class="product-details">
					<a href="/product/{{ item.product.url_name }}" class="product-name">Product name here</a>
					<p class="product-price"><small>£6.96</small></p>
				</div>
			</td>
			<td class="quantity" data-label="Qty">
				1
			</td>
			<td class="discount" data-label="Discount">
				£0.00
			</td>
			<td class="item-total" data-label="Item Total">
				£6.65
			</td>
		</tr>

	</tbody>
</table>