
<ul class="list-unstyled">
	<li><a href="/styles">Style Guide</a></li>
	<li><a href="/404">404</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/cart">Cart</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/checkout">Checkout</a></li>
    <li><a href="/checkout-start">Checkout Start</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/home">Home</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/order">Order</a></li>
	<li><a href="/orders">Orders</a></li>
	<li><a href="/password-restore">Password Restore</a></li>
    <li><a href="/product">Product</a></li>
	<li><a href="/my-details">My Details</a></li>
	<li><a href="/receipt">Receipt</a></li>
	<li><a href="/registered">Registered</a></li>
	<li><a href="/search">Search</a></li>
	<li><a href="/stockist">Stockist</a></li>
</ul>

