{% layout "inner" %}

{% block content %}
	<header>
		<h1>About page</h1>
	</header>
	<article>
		<figure class="pull-right">
			<img src="http://placehold.it/400x250">
		</figure>
		<h2>ORGANIC SKINCARE</h2>
		<p>Namaste organics offers a range of organic SOIL ASSOCIATION accredited skincare and bodycare products that meet the highest standards of organic sustainability and performance.</p>
		<h2>SPA AT HOME</h2>
		<p>We also provide an innovative range of spa-at-home products that includes aromatherapy candles, incense and spa/relaxation music.</p>
		<h2>ORGANIC CREDENTIALS</h2>
		<p>THE SOIL ASSOCIATION certification ensures that products sold as organic have been produced and processed according to strict organic standards.

We are proud of our Soil Association certification (which means that our business has been inspected and satisfies the requirements of the SOIL ASSOCIATION standards for organic health, beauty care, food and drink products). The Soil Association symbol on our packaging acts as a guarantee to our customers that they are purchasing an organic product. Click here to see details of our licence details on the Soil Association’s website.</p>
		<h2>PARABENS & SLS FREE</h2>
		<p>Our organic aromatherapy skin and bodycare products are suitable for use at home as well as by holistic and spa professionals for treatments. They do not contain sulphates, synthetic fragrances, parabens, artificial colours or petrochemicals and have not been tested on animals. Customers can feel confident using our range of Mother and Bay products on young skin.</p>
	</article>
{% endblock %}
