{% layout "inner" %}

{% block content %}
	<header>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">aromatherapy</a></li>
			<li class="active">essential oils</li>
		</ol>
	</header>

	<section id="category" class="shop content">
		{% include "shop" %}
	</section>


{% endblock %}



