{% layout "inner" %}

{% block content %}
	<header>
		<h1>Contact Us</h1>
	</header>
	<article>
		<figure class="pull-right">
			<img src="http://placehold.it/400x250">
		</figure>
		<p>Please feel free to use the contact form below, or email us at <a href="mailto:contact@namaste-organics.com">contact@namaste-organics.com</a>.</p>
		<p>Or write to us</p>
		<address>
			<p>Suite 25<br />
				4 Montpelier Street<br />
				London<br />
				SW7 1EE</p>
		</address>
	</article>
{% endblock %}
