{% layout "inner" %}

{% block content %}
	<header>
		<h1>Login/Register</h1>
	</header>

	<section class="content login-register">
		<div class="login-register__login">
			<header>
				<h2>Login</h2>
			</header>
			<form action="#" method="" accept-charset="utf-8" class="form">
				<fieldset class="controls">
					<input name="email" class="controls__control" placeholder="e-mail" value="{{ post('email') }}" />
				</fieldset>
				<fieldset class="controls">
					<input type="password" name="password" class="controls__control" placeholder="password" />
				</fieldset>
				<fieldset class="controls controls--action">
					<a class="btn btn--link pull-left" href="{{ site_url('/password-restore') }}">forgot your password?</a>
					<button class="btn btn--primary pull-right" type="submit">Login <i class="fa fa-lock pull-right"></i></button>
				</fieldset>
			</form>
		</div>

		<aside class="login-register__register">
			<header>
				<h2>Register</h2>
			</header>
			<form action="#" method="" accept-charset="utf-8" class="form">
				<fieldset class="controls">
					<input name="signup[first_name]" id="signup[first_name]" class="controls__control" placeholder="First Name" />
				</fieldset>
				<fieldset class="controls">
					<input name="signup[last-name]" id="signup[last_name]" class="controls__control" placeholder="Last Name" />
				</fieldset>
				<fieldset class="controls">
					<input name="signup[email]" id="signup[email]" class="controls__control" placeholder="e-mail" />
				</fieldset>
				<fieldset class="controls">
					<input type="password" name="signup[password]" id="signup[password]" class="controls__control" placeholder="Password" />
				</fieldset>
				<fieldset class="controls">
					<input type="password" name="signup[password_confirmation]" id="signup[password_confirmation]" class="controls__control" placeholder="Confirm Password" />
				</fieldset>
				<fieldset class="controls controls--action">
					<button class="btn btn--primary pull-right" type="submit">Register <i class="fa fa-pencil pull-right"></i></button>
				</fieldset>
			</form>
		</aside>



	</section>


{% endblock %}







