{% layout "inner" %}

{% block content %}

<header>
	<h1>Password Restore</h1>
</header>

<section class="content password-restore">

		<form action="#" method="" accept-charset="utf-8" class="form">
			<fieldset class="controls">
				<input type="password" id="password" name="password" value="" placeholder="New password" class="controls__control"/>
			</fieldset>
			<fieldset class="controls">
				<input type="password" id="passwordConfirm" name="passwordConfirm" value="" placeholder="Password confirmation"  class="controls__control"/>
			</fieldset>
			<fieldset class="controls controls--action">
				<button class="btn btn--primary pull-right" type="submit">Restore Password <i class="fa fa-lock pull-right"></i></button>
			</fieldset>
		</form>




</section>

{% endblock %}